body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    font-size: 16px;
}

.menu {
    background-color: darkslategray;
    overflow: hidden;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 10px;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: lightgray;
    color: black;
}

.balao-fala {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 30px;
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    max-width: 900px;
}

.balao-fala .fechar {
    color: darkgray;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.conteudo {
    font-size: 16px;
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
    line-height: 1.6;
}

.imagens {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.imagem {
    text-align: center;
}

.imagem img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

figcaption {
    font-size: 1.5em;
}
